body{
font-family: "Montserrat";
background-color: #fff;
justify-content: center;
align-items: center;
}

h1{
  justify-content:center;
  text-align: center;
  align-items: center;
}

h2{
  margin:50px;
  text-align: center;
}

h3{
  text-align: center;
}

.container{
  padding:100px;
}

/*IMG*/
img{
  width: 55%;
  margin-left:20%;
}

/*GRID*/


.grid {
  overflow: auto;
			padding: 0.5em 0 0 0.5em;
			max-width: 76em;
			margin-left: 22%;
      list-style: none;

		}
		.grid li {
			padding: 0 0.5em 0.5em 0;

		}
		.grid li > div {
			background: #333;
			padding: 7em 2em;
			text-align: center;
		}


		.grid li a {
			color: #fff;
      text-decoration: none;
      font-family: "Roboto";

		}

    .grid a:hover{
    color:red;
    transition-delay:0.2s;
    text-decoration: underline;
}


		@media all and (min-width: 27em) {
			.grid li {
				width: 50%;
				float: left;
			}
		}

		@media all and (min-width: 40em) {
			.grid li {
				width: 33.3333333%;
			}
			.grid li.wide {
				width: 66.666666%;
			}
		}
		@media all and (min-width: 60em) {
			.grid li {
				width: 25%;
			}
			.grid li.wide {
				width: 50%;
			}

		}

    footer{
      background: black;
      height : 100px;
      width:100%;
      margin-top:10px;
    }

    video{
      margin-left: 20ù;
    }

.link-footer{
  color:blue;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding:3px;

}
